/**Estilos */
#mc {
    color: rgb(60, 255, 0);
    font-size: 100px;
    font-family: monospace;
    text-align: center;
  }
  
  #texto1 {
    color: brown;
    font-size: large;
    font-family: cursive;
    text-align: justify;
  }
#PACMAN{
    color: darkgoldenrod;
    font-size: 100px;
    font-family: monospace;
    text-align: center;
}

#text1{
    color: black;
    font-size: large;
    font-family: cursive;
    text-align: justify;
}
/**Estilos */
body{
    background-color: #c2f5e0;
}
.container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#SMarioB{
    text-align: center;
}
#caract{
    text-align: center;
    font-size: 250%;
}
.container-features{
    font-size: 20px;
}
#play{
    text-decoration: underline;
}
.play-now{
    margin-top: 5%;
    text-align: center;
}
#btn-play{
    background-color: #fff;
    width: 6%;
    height: 50px;
    animation: play 2s infinite;
    -webkit-animation: play 2s infinite;
}
@keyframes play{
    0%{background-color: #fff;}
    50%{background-color: #e8e5a1;}
    100%{background-color: #caae51;}
}
#btn-play a{
    text-decoration: none;
}
